button{
    width: 120px;
    height: 80px;
    margin: 10px;
    border: 0px;
    text-align: center;
    font-size: 2em;
    position: relative;

}
body {
    background-color: #ab1212;
}
img{
max-Width: 300px;
height: 300px;

}

.buttons {
    max-width: 450px;
    margin: 50px auto;
    text-align: center;
    vertical-align: center;
}

h1{
font-family: 'Cursive', Lucida Handwriting;
font-size: 64px;

}
.yesButton{
    background-color:green;
}
.yesButton:hover{
    background-color:darkgreen;
}

.noButton{
   background-color:darkred;
}
.noButton:hover{
   background-color:#610505;
}

#overview{
    width: 800px;
    height: 600px;
    margin: 50px auto;
    text-align: center;
    vertical-align: center;
    border-style: solid;
}

.valentinesLabel    {
display: block;
margin: 10px;
text-align: left;
}
#email{
    width: 300px;
   /* height: 40px; */
    margin: 0 15px;
    padding: 5px;
    border: 1px solid #ccc;
}
#emailLabel{
margin: 5px 15px;
}

#submitEmailButton{
    margin: 0 10px;
}
#valentinesForm{
    margin: 20px 31%;
    width: 41%;
    align:center;
    color: white;
}
p{
    font-size: 24px;
    margin: 15px;
    }


#extra{
display :block;
width: 97%;
height: 50px;
font-size:16px;
}

